{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Estos son los resultados de tu busqueda de estudiante
{% endblock %}

{% block resultados %}

<p>Estamos buscando a los estudiantes de identificación: {{identificacion}}</p>

<p>Estos son los resultados:</p>
{% for x in resultado %}
<h4>{{x.nombre}}  {{x.apellido}}</h4>
<span>Identificacion: </span>{{x.identificacion}} <br>
<span>Comisión:</span>{{x.comision}}<br>
<span>Email:</span>{{x.email}}<br>
<p>-----------------------</p>
{% endfor %}

{% endblock %}

