{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Aquí puedes ver los cursos
{% endblock %}


{% block botonTitulo %}
{% if request.user.is_authenticated %}
    <div class="col-auto"><a href="/AppCoder/crearCursos"><button class="btn btn-primary">Crear curso</button></a></div>
{% endif %}
{% endblock %}



{% block resultados %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Camada</th>
            <th scope="col">Comisión</th>
            {% if request.user.is_authenticated %}
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for x in listaCursos %}
        <tr>
            <th scope="row">{{x.nombre}}</th>
            <td>{{x.camada}}</td>
            <td>{{x.comision}}</td>
        {% if request.user.is_authenticated %}
            <td><a href="{% url 'editarCurso' x.camada %}"><button>Editar</button></a></td>
            <td><a href="{% url 'borrarCursos' x.camada %}"><button>Borrar</button></a></td>
            
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}


{% block botonBuscar %}
<div class="row justify-content-center">
<div class="col-auto"><a href="/AppCoder/buscarCurso"><button class="btn btn-primary">Buscar camada</button></a></div>
</div>
<br>
{% endblock %}




