{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Aquí puedes ver los entregables
{% endblock %}


{% block botonTitulo %}
{% if request.user.is_authenticated %}
    <div class="col-auto"><a href="/AppCoder/crearEntregable"><button class="btn btn-primary">Crear entregable</button></a></div>
{% endif %}
{% endblock %}



{% block resultados %}
<br>
{% for x in listaEntregables %}
<h4>{{x.nombre}}</h4>
<span>Fecha entrega: </span>{{x.fechaEntrega}} <br>
{% if request.user.is_authenticated %}
<a href="{% url 'borrarEntregables' x.nombre %}"><button>Borrar</button></a>
<a href="{% url 'editarEntregable' x.nombre %}"><button>Editar</button></a>
{% endif %}
<p>___________________</p>
{% endfor %}
{% endblock %}

{% block botonBuscar %}
<div class="row justify-content-center">
<div class="col-auto"><a href="/AppCoder/buscarEntregable"><button class="btn btn-primary">Buscar entregable</button></a></div>
</div>
<br>
{% endblock %}