{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Aquí puedes ver los estudiantes
{% endblock %}

{% block botonTitulo %}
    <div class="col-auto"><a href="/AppCoder/crearEstudiantes"><button class="btn btn-primary">Crear Estudiante</button></a></div>
{% endblock %}



{% block resultados %}
<br>
{% for x in listaEstudiantes %}

<h4>{{x.nombre}} {{x.apellido}} </h4>
<span>Identificacion: </span>{{x.identificacion}} <br>
<span>Email: </span>{{x.email}} <br>
<span>Comisión: </span>{{x.comision}} <br>

<a href="{% url 'borrarEstudiantes' x.identificacion %}"><button>Borrar</button></a>
<a href="{% url 'editarEstudiante' x.identificacion %}"><button>Editar</button></a>

<p>___________________</p>

{% endfor %}

{% endblock %}

{% block botonBuscar %}
<div class="row justify-content-center">
<div class="col-auto"><a href="/AppCoder/buscarEstudiante"><button class="btn btn-primary">Buscar estudiante</button></a></div>
</div>
<br>
{% endblock %}