{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Aquí puedes ver los profesores
{% endblock %}

{% block botonTitulo %}
    <div class="col-auto"><a href="/AppCoder/crearProfesor"><button class="btn btn-primary">Crear profesor</button></a></div>
{% endblock %}




{% block resultados %}
<br>
{% for x in listaProfes %}

<h4>{{x.nombre}} {{x.apellido}} </h4>
<span>Identificacion: </span>{{x.identificacion}} <br>
<span>Email: </span>{{x.email}} <br>
<span>Profesión: </span>{{x.profesion}} <br>
<span>Edad: </span>{{x.edad}} <br>

<a href="{% url 'borrarProfesores' x.identificacion %}"><button>Borrar</button></a>
<a href="{% url 'editarProfesor' x.identificacion %}"><button>Editar</button></a>

<p>___________________</p>

{% endfor %}



{% endblock %}

{% block botonBuscar %}
<div class="row justify-content-center">
<div class="col-auto"><a href="/AppCoder/buscarProfesor"><button class="btn btn-primary">Buscar profesor</button></a></div>
</div>
<br>
{% endblock %}