{% extends "AppCoder/padre.html" %}

{% block titulo %}
    Aquí puedes ver los profesores
{% endblock %}


{% block botonTitulo %}
{% if request.user.is_authenticated %}
    <div class="col-auto"><a href="/AppCoder/crearProfesor"><button class="btn btn-primary">Crear profesor</button></a></div>
{% endif %}
{% endblock %}


{% block resultados %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Identificación</th>
            <th scope="col">Email</th>
            <th scope="col">Profesión</th>
            <th scope="col">Edad</th>
            {% if request.user.is_authenticated %}
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for x in listaProfes %}
            <tr>
                <th scope="row">{{x.nombre}} {{x.apellido}}</th>
                <td>{{x.identificacion}}</td>
                <td>{{x.email}}</td>
                <td>{{x.profesion}}</td>
                <td>{{x.edad}}</td>
            {% if request.user.is_authenticated %}
                <td><a href="{% url 'editarCurso' x.identificacion %}"><button>Editar</button></a></td>
                <td><a href="{% url 'borrarCursos' x.identificacion %}"><button>Borrar</button></a></td>
                
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
    {% endblock %}


{% block botonBuscar %}
<div class="row justify-content-center">
<div class="col-auto"><a href="/AppCoder/buscarProfesor"><button class="btn btn-primary">Buscar profesor</button></a></div>
</div>
<br>
{% endblock %}